@font-face {
    font-family: 'Poppins-Bold';
    src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style:bold;
}

@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url('./assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400i;
    font-size: larger;
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('./assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-style: bold;
    font-weight: bolder;
}

@font-face {
    font-family: 'Poppins-ExtraBoldItalic'; 
    src: url('./assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 800i;
    font-size:x-large
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url('./assets/fonts/Poppins-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
}


body{
    background-color: hsl(0, 0%, 94%);
}

.attribution { 
    margin-top: 20px;
    font-size: 15px;
    font-family: 'Poppins-Regular'; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
}

.container{
    padding: 20px;
    border-radius: 0.8rem 0.8rem 5rem 0.8rem;
    width: 400px;
    height: 290px;
    background-color: hsl(0, 0%, 100%);
}

.dates{
    display: grid;  
    justify-content:flex-start;
    grid-template-columns: repeat(3, minmax(25%, auto));
    margin-left: 5px;
    margin-bottom: 5px;
}

.inputDiv{
    display: grid;
    grid-template-rows: repeat(3, minmax(25%, auto));
    gap: 3px;
    margin-right: 20px;
}

.inputDiv label{
    font-size: 10px;
    color: hsl(0, 1%, 44%);
    font-family: 'Poppins-Bold';
}

.inputDiv input{
    width: 80px;
    height: 25px;
    padding: 5px;
    color: hsl(0, 0%, 8%);
    font-size: 20px;
    border-style: solid;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 5px 5px 5px 5px;
    font-family: 'Poppins-Bold';
    cursor: pointer;
}

.inputDiv input:focus{
    outline: none;
}

.inputDiv input::placeholder{
    color: hsl(0, 1%, 44%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.buttonDiv{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: -5px;
}

.line{
    float: left;
    width: 90%;
    margin-left: 5px;
    margin-top: 20px;
    position: absolute;
    background-color: hsl(0, 0%, 86%);
    height: 0.5px; 
    top: 0;
    left: 45%;
    transform: translateX(-50%);
}

.calcAge{
    position: relative;
    float: right;
    border-radius: 50%;
    border: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    z-index: 1;
    background-color: hsl(259, 100%, 65%);
}

.calcAge:hover{
    background-color: hsl(0, 0%, 8%);
}

.calcAge img{
    width: 24px;
    height: 22px;
}

.ages{
    margin-top: 40px;
    margin-left: 5px;
}

.ageSpan{
    font-family: 'Poppins-ExtraBoldItalic';    
    font-size: 50px;
    margin-bottom: -20px;
}

.calcAges{
    color: hsl(259, 100%, 65%);
}

.requireMessage{
    margin-top: 5px;
    font-size: 8px;
    font-family: 'Poppins-Italic';
    color: hsl(0, 100%, 67%);
}

@media (max-width: 376px) {    
    .attribution{        
        font-size: 10px;
    }

    .main{
        padding: 2rem;
    }

    .container{
        padding: 10px;
        width: 200px;
        height: 280px;
    }

    .dates{
        justify-content:space-evenly;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    .inputDiv{
        margin-right: 5px;
    }
    
    .inputDiv input{
        width: 50px;
        height: 25px;
        font-size: 15px;
    }

    .buttonDiv{
        margin-top: 15px;
    }

    .calcAge{
        margin-right: 40%;
    }

    .line{
        width: 95%;
        margin-left: 10px;
    }

    .ages{
        margin-top: 75px;
    }

    .ageSpan{ 
        font-size: 32px;
        margin-bottom: -10px
    }

    .requireMessage{
        font-size: 6px;
    }
}